<div class="row products-container">
  <div class="col-sm-4" *ngFor="let product of products">
    <div class="card">
      <img [src]="product.imageSource" alt="" />
      <div class="card-info-container"></div>
      <h3 class="card-title">
        {{ product.name }}
      </h3>
      <h4>
        <a>Description:{{ product.desc }}</a>
        <a>Price:{{ product.price }}</a>
        <a>Quantity: {{ product.quantity }}</a>
      </h4>
      <button class="button-info">Add to Cart</button>
    </div>
  </div>
</div>
